.app {
    display: flex;
    flex-direction: column;
    background-color: #f3f2ef;
    align-content: center;
}

.app_body {
    display: flex;
    margin-top: 35px;
    margin-left: 90px;
    margin-right: 90px;
}