.login {
    display: grid;
    place-items: center;
    margin: 0 auto;
    padding: 100px 0;
}

.login > img {
    object-fit: contain;
    height: 80px;
    margin: 20px 0;
}

.login > form {
    display: flex;
    flex-direction: column;
}

.login > form > input {
    width: 350px;
    height: 50px;
    font-size: 20px;
    padding-left: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.login > form > button {
    width: 365px;
    height: 50px;
    font-size: large;
    color: white;
    background-color: #0a66c2;
    border-radius: 5px;
    cursor: pointer;
}

.login_register {
    cursor: pointer;
    color: #0a66c2;
    margin-left: 5px;
}

.login > p {
    margin-top: 20px;
}